[Unit]
Description=My Webapp Java REST Service
[Service]
User=manuel
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=/opt/ManageMyLife/Servidor/
#path to executable. 
#executable is a bash script which calls jar
ExecStart=/opt/ManageMyLife/Servidor/server.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
